.pink-navbar {
    background-color: #dc2579 ; 
  
  }
.bg-pink{
    background-color: #f6a4ca4a ;
   
}
.prim-text-color{
color:#dc2579 ;
}
  .pink-navbar .navbar-brand,
  .pink-navbar .nav-link {
    color: #ffffff !important; /* Sätter textfärgen till vit */
  }
  /* VideoBackground.css */

.video-bg-container {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Videon ligger längst bak */
  }
  
  .overlay-content {
    
    position: absolute; /* Absolut positionerad ovanpå videon */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Visas ovanför videon */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 250px; /* Justera storleken på logotypen efter behov */
    margin-bottom: 20px;
  }
  